/* styles.css */
/* Drawer slide animation */
.drawer-enter {
  transform: translateX(100%);
}
.drawer-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}
.drawer-exit {
  transform: translateX(0%);
}
.drawer-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

  

  /* styles/globals.css or wherever you include global styles */

@keyframes writing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.writing-animation {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #333;
  animation: writing 5s steps(40, end) infinite, blink-caret .75s step-end infinite;
}



@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out both;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-150 {
  animation-delay: 0.15s;
}